$base: #1f2023;
$surface: #2d2f34;
$light: #383b40;
$green: #00a86b;
$white: rgba(255, 255, 255, 0.9);
$muted: rgba(255, 255, 255, 0.65);
$subtext: rgba(255, 255, 255, 0.8);

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

@import 'navbar';
@import 'header';
@import 'about';
@import 'slider';
@import 'skills';
@import 'portfolio';
@import 'contacts';

body {
    transition: 0.8s;
    background-color: $base;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

h3,
h4 {
    font-weight: 500;
    color: $white;
}

p {
    color: $muted;
}

.wrapper {
    max-width: 320px;
}

.link {
    color: $muted;
    font-size: 18px;
    text-decoration: none;
    position: relative;
    &--animated {
        &:hover::before {
            content: "";
            position: absolute;
            bottom: -3px;
            left: 0;
            right: 0;
            height: 2px;
            background-color: $green;
            animation: link-animation ease-in-out 0.3s;
        }
        @keyframes link-animation {
            from {
                width: 0%;
            }
            to {
                width: 100%;
            }
        }
    }
}

.container {
    display: flex;
    flex-direction: column;
}

@media (min-width: 375px) {
    .wrapper {
        max-width: 350px;
    }
}

@media (min-width: 992px) {
 
    .wrapper {
        max-width: 980px;
    }

    .btn--green {
        background-color: $green;
        color: $white;
        text-decoration: none;
        cursor: pointer;
    }

    .container {
        flex-direction: row;
        justify-content: space-between;
    }

}
